:root {
  --color-grey: #434455;
  --color-blue: #4d5ae5;
  --color-darkgrey: #2e2f42;
  --color-button: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-grey);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}

.link {
  text-decoration: none;
}

.part-logo {
  color: var(--color-darkgrey);
}

.list {
  list-style: none;
}

.list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
}

.list-menu:hover,
.list-menu:focus {
  color: #404bbf;
}

.text-add {
  font-style: normal;
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.list-contacts:hover,
.list-contacts:focus {
  color: #404bbf;
}

.hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-blue);
  background-color: var(--color-button);
  cursor: pointer;
}

.hero:hover,
.hero:focus {
  color: #ffffff;
}

.hero:hover,
.hero:focus {
  background-color: #404bbf;
}

.name-header2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.text-header2 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.foot-sect {
  background-color: var(--color-darkgrey);
}

.foot-part-logo {
  color: #f4f4fd;
}
