:root {
  --logo-color-text: #4d5ae5;
  --color-darkgrey: #2e2f42;
  --color-nav: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

.foot-sect {
  background-color: var(--color-darkgrey);
}

.header-one {
  font-family: 'Roboto';
  font-size: 56px;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-top: 188px;
  margin-bottom: 0px;
  line-height: 1.07;
}
.hero {
  background-color: #2e2f42;
}

.header-two {
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-darkgrey);
}

.section-four {
  background-color: #f4f4fd;
}

.list-name {
  background-color: #ffffff;
}

.header-three {
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--color-darkgrey);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
}

.list-menu:hover,
.list-menu:focus {
  color: #404bbf;
}

.text-add {
  font-style: normal;
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}

.list-contacts:hover,
.list-contacts:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background: #2e2f42;
}

.text-footer {
  color: #f4f4fd;
  margin-left: 156px;
  letter-spacing: 0.02em;
}

footer .part-logo {
  margin-left: 156px;
}

.logo.link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-text);
}

.part-logo {
  color: var(--color-darkgrey);
}

.foot-part-logo {
  color: #f4f4fd;
}
