:root {
  --logo-color-text: #4d5ae5;
  --logo-color-studio: #2e2f42;
  --color-text-menu: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

.header-one {
  font-family: 'Roboto';
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-top: 188px;
  margin-bottom: 0px;
}
.hero {
  background-color: #2e2f42;
  margin-bottom: 500px;
}

.header-two {
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

.header-three {
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  line-height: 24px;
}

.button {
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.list-contacts-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.list-contacts-link:hover,
.list-contacts-link:focus {
  color: #404bbf;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-menu);
  text-decoration: none;
}

.adres {
  font-style: normal;
}
.list-contacts-link.link {
  color: #404bbf;
}

.list {
  list-style: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-text);
}

.link {
  text-decoration: none;
}

.part-logo {
  color: var(--logo-color-studio);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-two {
  padding-top: 500px;
}

footer {
  background: #2e2f42;
}

.two-part-logo {
  color: #f4f4fd;
}

footer p {
  color: #f4f4fd;
  margin-left: 156px;
}

footer .part-logo {
  margin-left: 156px;
}
